@font-face {
    font-family: 'Cinzel';
    src: url('../../static/fonts/cinzel-bold-webfont.woff2');
}

@font-face {
    font-family: 'Caladea';
    src: url('../../static/fonts/caladea-regular-webfont.woff2');
}

* {
    box-sizing: border-box;
}

a,
input {
    cursor: pointer;
    color: white;
}

.home {
    color: white;
    font-family: 'Cinzel';
    font-size: 25px;
    text-align: center;
    background-image: url(../../static/img/background-hk.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 3vh;

    .logo-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .image-container {
            width: 20%;
            margin: auto;
        }

        .title {
            font-weight: bold;
            font-size: 35px;
        }

        .subtitle {
            font-size: 0.8em;

            .uncheck-button {
                background: none;
                border: none;
                font-size: inherit;
                text-decoration: underline;
                cursor: pointer;
                font-family: inherit;
                color: inherit;
            }
        }

        .percent {
            font-size: 2em;
        }

        .image {
            max-width: 100%;
            max-height: 100%;
        }

        .image-container {
        }
    }

    .information-group {
        display: flex;
        justify-content: center;
        gap: 30px;

        .information-column {
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .item-container {
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                padding-top: 2vh;
                padding-bottom: 2vh;
                box-shadow: 0 0 5px 0px rgb(108 108 108);

                .item-title-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5vh;
                    gap: 5px;
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 15px;
                    padding-right: 2vh;
                    padding-left: 2vh;

                    .flourish {
                        height: 50%;
                    }

                    .right {
                        transform: scaleX(-1);
                    }
                }

                .item-body {
                    font-family: 'Caladea';
                    display: flex;
                    flex-direction: column;
                    text-align: start;

                    .subitem-content {
                        display: flex;
                        gap: 15px;
                        padding: 10px;

                        .subitem-title {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            white-space: pre-wrap;
                        }
                    }
                }
            }
        }
    }
}
.subitem-content:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.item-image.essence {
    height: 1.5em;
}
.item-image.geo {
    height: 1.1em;
}
.item-image.pale-ore {
    height: 1em;
}

.footer {
    text-shadow: 0 0 10px black;
    font-family: caladea;
}

a:-webkit-any-link {
    color: inherit;
}

input:checked ~ .subitem-title {
    text-decoration: line-through;
    color: gray;
}
